@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    outline: 0px;
    margin:0px;
    padding:0px;
}

/* navigation bar */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'DatalegreyaThin';
  font-weight: bold;
}

header > a {
  display:flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

header > a:link{
  transition: color 0.5s, font-size 0.5s;
}

header > a:hover {
  color: rgb(70, 190, 154);
  font-size: 22px;
  transition: color 0.5s, font-size 0.5s;
  /* background-image: linear-gradient(rgb(235, 235, 235), rgb(255, 255, 255)); */
}



/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  background-image: url("images/Festival.png");
	background-position: 1600px 1100px;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  padding: 60px;
  padding-top: 60px;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  color:black;
}

.tint > img {
  max-width: 200px;margin-left: auto;
  margin-right: auto;
    border-radius:25%;
}

.tint > h1 {
  padding: 20px;
  padding-bottom: 10px;
  font-size: 45px;
  padding-top:-20px;
}

.tint{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.575);
  border-radius: 25px;
}

/* footer */
footer {
	padding: 20px;
	background-color:rgb(243, 243, 243);
	font-family: 'Montserrat';
	text-align:center;
}

/* gallery */

.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-right: 140px;
	padding-left: 140px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: -120px;
	margin-left: -120px;
	background-color: rgb(235, 235, 235);
}

a img {
	transition: 1s;
	padding: 10px;
	width: 200px;
	height: auto;
}

a img:hover {
	filter:grayscale(100%);
	transform: scale(1.05);
}

/* Coding Content */
.container{
	justify-content:center;
	padding: 20px;
}
.container h2 {
	font-family: 'Montserrat';
	text-align: center;
	padding-bottom: 10px;
}

.container p {
	font-family: 'Montserrat';
	text-indent: 50px;
}

@media only screen and (min-width: 600px) {
  header{
    flex-direction: row;
  }
  .hero {
    padding: 100px;
  }

	a img {
		padding: 20px;
	}
  
	a img:hover {
	filter:grayscale(100%);
	transform: scale(1.1);
}
	.button:hover{
		transition: 1s;
		transform: scale(1.1);
	}
 /* Coding Content */
	.container {
		margin-left: 100px;
		margin-right: 100px;
	}
}