*{
  outline:0px;
  margin:0px;
  padding:0px;
  font-family: 'Poppins';
}

a{
  text-decoration: none;
}
.main {
  height: 300px;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 50px;
  padding: 20px;
}
h1, .sub {
  background-color:rgba(255, 255, 255, 0.527);
  padding:15px;
}
.sub {
  font-size: 20px;
  padding-top: 0px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h7 {
  margin: 15px;
}

h8 {
  font-size: 25px;
  margin: 15px
}

.main-button {
  background-color:rgb(201, 241, 201);
  padding:10px;
  border-radius:20px;
  color:rgb(24, 73, 12);
  margin:10px;
}

.navlink{
  display: flex;
  text-decoration:none;
  color:white;
}

.navlink:hover{
  background-color:rgb(126, 212, 137);
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
  height: 300px;
  text-align: center;
  background-image: url("https://www.templatemonster.com/blog/wp-content/uploads/2020/06/green-powerpoint-templates.jpg");
  
  /* Background Image Formatting */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


  /* Center Contents inside Hero */
}
.research_main{
  text-decoration: wavy;
  margin : 15px;
}
header {
  display: flex;
  flex-direction:column;
  background-color: rgb(43, 43, 43);
  color:white;
  
}



.score {
  text-align:center;
}

.bins{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.bins > button {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}


.button {
  padding: 15px;
  text-decoration:none;
  text-align:center;
  justify-content: center;
  align-items: center;
}


.game_background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  width: 700px;
  padding: 20px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
.table{
  display: flex;
  width : 500px;
  align-self: center;
  text-align: center;
  color: rgb(254, 255, 255);
  background-color: rgb(138, 138, 138);
  border : 2px solid rgb(10, 3, 3);

}
footer {
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  position: absolute;
  left: 0;
  width: 100%;
  color: #555;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
}

.team {
  padding: 20px;
}

.name{
  padding:20px;
}

.discord{
  font-size:20px;
  color: rgb(157, 182, 235);
}

.gallery{
  display: flex;
  flex-direction:column;
  padding:20px;
  
  align-content: center;
  justify-content: center;
}

.word{
  color:rgb(165, 165, 165);
}

.part_main {
 margin: 15px;
 display: flex;
 flex-direction:row;
}

.pic {
  width: 20%;
  height: 10%;
}

@media screen and (min-width:600px){
    header{
      flex-direction:row;
  }
    .gallery{
      flex-direction:row;
    }
    img {
      width:33%;
    }
    .research_main, .word {
      margin-right:100px;
      margin-left:100px;
    }
}

@media screen and (min-width:1200px){
  .research_main, .word {
      margin-right:250px;
      margin-left:250px;
    }
}